:root {
	--margin-devider: 4;
	--padding-devider: 4;
}

.password {
	& .uppercase {
		--uno: "text-slate-900"
	}
	& .lowercase {
		--uno: "text-slate-600"
	}
	& .special {
		--uno: "text-red-500"
	}
	& .number {
		--uno: "text-blue-500"
	}
}